#scroller {
		
    }
	
.scroller {
	width: 90%;

	height: 170px;
	border: 0px solid blue;
	overflow: scroll;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	float: left;	
}

#inner-scroller {
	clear:both;

	height: 170px;
	overflow: hidden;
	white-space: nowrap;
	
	
	text-align:left;
	/*background-image:url(oscares.jpg);*/
}

.inner-scroller img{
	display: inline-block; 
	margin: 0px;
}

#botao_scroll {
	width: 5%;
	height: 170px;
	margin:0;
	display: table-cell; 
	vertical-align: middle;
	margin-bottom: 40px;
}
.botao_esq {
	float: left;
	background-color:#FBAF3F;
	background-image:url(seta_esq.png);
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}

	
.botao_dir {
	background-color:#FBAF3F;
	float: right;
	background-image:url(seta_dir.png);
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}
.botao_esq:hover {
	background-color:#F05A28;
}
.botao_dir:hover {
	background-color:#F05A28;
}

#popup {
            border: 5px solid white;
			background-color:#FBAF3F;
            border-radius: 1px 1px 1px 1px;
            float:left;
			width:50%;
			max-width:600px;
            
            margin-left: 10%;
            position: fixed; /*precisa pra funcionar o z-index */
            top: 2%;
            z-index: 9999; /* deixa o pop-up na frente de todos os outros elementos  - sófunciona e tiver definição deposição (position:absolute/relative/fixed) */
}

.popup img{
	width:100%;
	height:auto;
}